.friend-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 350px;
  margin: 0 auto;
}

.item {
  display: flex;
  background-color: rgba(240, 248, 255, 0.807);
  width: 100%;
  padding: 10px 40px;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
}

.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.is-online {
  background-color: seagreen;
}

.is-offline {
  background-color: brown;
}

.name {
  font-weight: bold;
}
